<div class="center hero-unit">

	<h1>Welcome to Fresone</h1>
	<p>
		We are a social network. 
	</p>

	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>	
